body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: #E8E8E8; 
    color: #666666;
    padding: 3px;
}

#nav01 {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: absolute;
    margin: auto;
    width: 800px;
    left: 32px;
    right: 32px;
}

#main {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    
}

#main {
    padding: 20px;
    position: absolute;
    margin: auto;
    width: 800px;
    bottom: 40px;
    left: 32px;
    right: 32px;
    top: 65px;
}


h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #000000;
    color: #00CCCC;
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

table {
    width:100%;
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

th {
    text-align: left; 
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}
